@font-face {
    font-family: "Oswald";
    src: url(./Oswald-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Square Peg";
    src: url(./SquarePeg-Regular.ttf) format("truetype");
}